<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\quiz.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
    <customErrors defaultRedirect="~/error.aspx" />
    <profile enabled="true">
      <properties>
        <add name="Theme" />
      </properties>
    </profile>
    <authentication mode="Forms"/>
    <compilation debug="true"/>    
  </system.web>
</configuration>
